<h2 class="section-title">Connected Gmail Accounts</h2>
<div class="sync-info">
  <mat-icon class="info-icon">info</mat-icon>
  Accounts are automatically synced every minute. You can also trigger a manual sync using the sync button.
</div>
<mat-card>
  <mat-card-content>
    <div class="accounts-list">
      <ng-container *ngFor="let account of sortedAccounts">
        <div class="account-item" [class.primary-account]="account.is_primary">
          <div class="account-header">
            <mat-icon [class.primary-icon]="account.is_primary">
              {{ account.is_primary ? 'verified_user' : 'mail' }}
            </mat-icon>
            <div class="account-info">
              <div class="account-title">
                {{ account.email }}
                <span *ngIf="account.is_primary" class="primary-badge" [matTooltip]="'This is the account you first logged in with.\nUse this account to log in to the application.'" [matTooltipPosition]="'right'" matTooltipClass="account-tooltip">
                  Primary Account
                </span>
              </div>
              <div class="account-sync" *ngIf="account.last_sync_time">
                Last synced: {{ account.last_sync_time | date:'medium' }} UTC
              </div>
            </div>
          </div>
        </div>
        <mat-divider *ngIf="account.is_primary"></mat-divider>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="connectNewAccount()">
        <mat-icon>add</mat-icon>
        Connect Gmail Account
      </button>
      <button mat-raised-button color="accent" (click)="syncAllAccounts()" [disabled]="isSyncingAll || accounts.length === 0">
        <mat-icon>
          <mat-spinner diameter="20" *ngIf="isSyncingAll; else syncAllIcon"></mat-spinner>
          <ng-template #syncAllIcon>sync</ng-template>
        </mat-icon>
        Sync All Accounts
      </button>
    </div>
  </mat-card-actions>
</mat-card>