.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .main-content {
    margin-top: 64px; // Height of toolbar
    flex: 1;
    background-color: #f5f5f5;
  }
}